<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/pago/edit/{{pago.id_pago}}" method="POST">
                        
                        <div class="form-group">
                        <div class="form-group">
                            <label class="form-label mt-4">Costo:</label>
                            <input type="number" value = {{pago.costo}} placeholder="costoNuevo">
                         </div>                         
                            
                            
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>